body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#form {
    margin-bottom: 20px;
}

#form input, #form button {
    margin: 5px;
}

#books {
    margin-top: 20px;
}

.white {
    background-color: white;
}

.lightgrey {
    background-color: lightgrey;
}

.book-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px; /* Adds space between the buttons */
}
